<div class="col-md-6">
<%= form_with(model:@task, local: true) do |form|%>
<% if @task.errors.any? %>
  <div id="error_explanation">
    <h2><%= @task.errors.count %>Il y a des erreurs.</h2>
    <ul>
    <% @task.errors.full_messages.each do |msg| %>
      <li><%= msg %></li>
    <% end %>
    </ul>
  </div>
<% end %>
<div class="form-body">
    <div class="row">
        <div class="form-holder">
            <div class="form-content">
                <div class="form-items">
                    <p>Les specification du projet : </p>
                    <form class="requires-validation" novalidate>

                        <div class="col-md-12">
                          <%= form.text_field :task_name, class:"form-control form-control-new form-control-dark w-100",placeholder:"Task Name" %>
                        </div>

                        <div class="col-md-12">
                            Votre Motivation
                            <%= form.text_area:description, class:"form-control form-control-new form-control-dark w-100",placeholder:"description", style:"height:150px;" %>
                        </div>
                        <br>
                        <div class="col-md-12">
                            <%= form.date_field :start, class:"form-control form-control-new form-control-dark w-100",placeholder:"start" %>
                        </div>
                        <div class="col-md-12">
                            <%= form.date_field :deadline, class:"form-control form-control-new form-control-dark w-100",placeholder:"deadline" %>
                        </div>
                        <div class="col-md-12">
                          Statut : <%= form.select(:statut, {not_started: 'not_started', doing: 'doing', done: 'done'})%>
                          Priority : <%= form.select(:priority, {low: 'low', medium: 'medium', high: 'high'})%>
                        </div>
                        <hr>
                        <div class="col-md-12">
                          <p> Ajouter une étapes de cette tache :</p>
                            <%= form.fields_for :steps do |r| %>
                            <%= r.text_field :name, class:"form-control form-control-dark w-100", placeholder:" step title" %>
                            deadline :<%= r.date_field :deadline, class:"form-control form-control-dark w-100", placeholder:"deadline"  %>

                            Prendre un note :<%= r.text_area :content, class:"form-control form-control-dark w-100", placeholder:"click add details", style:"height:200px;"  %>
                            <hr>
                            <% end %>


                        </div>

                        <div class="form-button mt-3">
                            <%= form.submit  "Mettre à jour le projet "%>
                        </div>
                    </form>
                </div>
            </div>
        </div>
    </div>
</div>
<% end %>
</div>
