<%= render partial:'tasks/task_nav'%>

<section class="col-md-9 ms-sm-auto col-lg-10 px-md-4"><div class="chartjs-size-monitor"><div class="chartjs-size-monitor-expand"><div class=""></div></div><div class="chartjs-size-monitor-shrink"><div class=""></div></div></div>
      <div class="d-flex justify-content-between flex-wrap flex-md-nowrap align-items-center pt-3 pb-2 mb-3 border-bottom">
          <h6 class="h2"><%=@task.task_name%></h6>
              <div class="btn-toolbar mb-2 mb-md-0">
                <div class="btn-toolbar mb-2 mb-md-0">
                    <div class="btn-group me-2">
                      <% if current_user.mentor?  %>
                      <a class="nav-link active" aria-current="page" href="/mentor/<%= current_user.id %>">
                          <svg xmlns="http://www.w3.org/2000/svg" width="24" height="24" viewBox="0 0 24 24"
                              fill="none" stroke="currentColor" stroke-width="2" stroke-linecap="round"
                              stroke-linejoin="round" class="feather feather-home" aria-hidden="true">
                              <path d="M3 9l9-7 9 7v11a2 2 0 0 1-2 2H5a2 2 0 0 1-2-2z"></path>
                              <polyline points="9 22 9 12 15 12 15 22"></polyline>
                          </svg>
                          All Projects
                      </a>
                      <% else %>
                      <a class="nav-link active" aria-current="page" href="/users/<%= current_user.id %>">
                          <svg xmlns="http://www.w3.org/2000/svg" width="24" height="24" viewBox="0 0 24 24"
                              fill="none" stroke="currentColor" stroke-width="2" stroke-linecap="round"
                              stroke-linejoin="round" class="feather feather-home" aria-hidden="true">
                              <path d="M3 9l9-7 9 7v11a2 2 0 0 1-2 2H5a2 2 0 0 1-2-2z"></path>
                              <polyline points="9 22 9 12 15 12 15 22"></polyline>
                          </svg>
                          All Projects
                      </a>
                      <% end  %>
                    </div>
                  </div>
                </div>
        </div>
        <div class="task_details">
          <p class="info"><%=@task.description%></p>
          <p>Started : <%=@task.start%></p>
          <p> deadline : <%=@task.deadline%></p>
          <p> Statut : <%=@task.statut%></p>
          <p> Priority : <%=@task.priority%></p>
          <hr>
          <table class="table text-light">
            <thead>
              <tr>
                <th colspan="3">#</th>
                <th scope="col">Sources</th>
              </tr>
            </thead>
            <tbody>
              <% @task.sources.all.each do |source|%>
              <tr>
                <th scope="row"><%= source.id %></th>
                <td><%= source.title%></td>
                <td>
                <button type="button" class="btn btn-dark" data-toggle="modal" data-target="#exampleModalCenter">
                  view
                </button>
                </td>
                <td><%=link_to "supprimer ", my_route2_path(source_id: source.id), method: :delete %></td>
              </tr>
              <!-- Modal for sources show -->
              <div class="modal fade " id="exampleModalCenter" tabindex="-1" role="dialog" aria-labelledby="exampleModalCenterTitle" aria-hidden="true">
                <div class="modal-dialog modal-dialog-centered" role="document">
                  <div class="modal-content bg-dark text-light">
                    <%= render partial:'tasks/source_show',locals: {source:source}%>
                  </div>
                </div>
              </div>
              <!-- Modal -->
              <% end %>
            </tbody>
          </table>
          <%if !current_user.mentor? %>
            <%= link_to "modifier", edit_task_path(@task)  %>
            <br>
            <%=link_to "supprimer la tache", @task, method: :delete %>
          <% end %>
          <!-- button for add sources  -->
          <!-- Large modal -->
          <button type="button" class="btn btn-dark" data-toggle="modal" data-target=".bd-example-modal-lg">Ajouter une ressource</button>

          <div class="modal fade bd-example-modal-lg" tabindex="-1" role="dialog" aria-labelledby="myLargeModalLabel" aria-hidden="true">
            <div class="modal-dialog modal-lg">
              <div class="modal-content bg-dark">
                <%= render partial:'tasks/sources'%>
              </div>
            </div>
          </div>
        </div>
  </section>
